:root{
    --green: #fc0fc0;
    --white: #ffffff;
    --black: #000000;
}

* {
    color: var(--fontColor);
    font-family: helvetica;
}

body {
    background: var(--bg);
}

body {
    font-family: monospace;
}

ul {
    font-family: helvetica;
}

li {
    list-style: circle;
}

.list{
    list-style: square;
}

.light-theme {
    --bg: var(--green);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
}

.dark-theme {
    --bg: var(--black);
    --fontColor: var(--green);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
}
.btn {
    position: absolute;
    top: 35px;
    right: 580px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--green)
}
.btn:focus { outline-style: none; }
main {
    background-color: rgba(12, 1, 1, 0.5);
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.473); 
    text-align: justify;   
}